.imagem-artigo{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;

    /* Centraliza a imagem */
    display: grid;
    place-items: center;


}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}